@media screen and (min-width: 320px){
    .blank{
        flex-wrap: wrap;
    }
    .map{
        flex-grow: 1;
    }
    .blok-contacts__small-text,
    .blok-contacts__link-phone,
    .blok-contacts__link-email{
        margin-bottom: 5px;
    }
}
@media screen and (min-width: 1024px){
    .submit{
        flex-grow: 1;
    }
}
@media screen and (min-width: 768px) {
    .blank{
        flex-wrap: nowrap;
    }
    .blok-contacts__small-text,
    .blok-contacts__link-phone,
    .blok-contacts__link-email{
        margin-bottom: 10px;
    }
}
