html{
    font-size: 1px;
}
header{
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    margin-bottom: 35px;
}
body{
    font-size: 14rem;
}
.blok-contacts{
    margin-bottom: 20px;
    gap: 20px;
}

.main-heading{
    margin-bottom: 25px;
    font-size: 24rem;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}

.office,
.consult,
.rekvizity{
    display: flex;
    flex-direction: column;
}

.blok-contacts__small-text,
.blok-contacts__link-phone,
.blok-contacts__link-email{
    margin-bottom: 10px;
}

.blok-contacts__heading{
    margin-bottom: 20px;
    font-size: 14rem;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}
.blok-contacts__small-text{
    font-size: 14rem;
    line-height: 21rem;
    color: #666;
}
.blok-contacts__link-phone{
    font-size: 18rem;
    color: #25252c;
    font-weight: bold;
    text-decoration: none;
}
.blok-contacts__link-email{
    font-size: 16rem;
    color: #25252c;
}

.main-line{
    margin-bottom: 35px;
}

.blank{
    gap: 30px;
    margin-bottom: 45px;
    flex-wrap: nowrap;
}

.map{
    width: 80%;
    min-width: 150px;
    background-image: url(../img/map.png);
    background-size: cover;
    flex-grow: 0;
}
iframe{
    width: 100%;
    height: 100%;
}

.forms{
    width: 100%;
    flex-grow: 0;
}

.forms__heading{
    font-size: 14rem;
    line-height: 24rem;
    margin-bottom: 20px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}

.for-texting__about{
    display: inline-block;
    width: 100%;
}
.for-texting__about,
.personal-data__name,
.personal-data__phone-number,
.for-texting__a-lot-of-text{
    padding-left: 15px;
    margin-bottom: 10px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #c5c5d4;
    min-height: 40px;
    box-sizing: border-box;
    outline: none;
}

.for-texting__a-lot-of-text{
    padding-top: 10px;
    resize: vertical;
}

.for-texting__about::placeholder,
.personal-data__name::placeholder,
.personal-data__phone-number::placeholder,
.for-texting__a-lot-of-text::placeholder{
    font-size: 13rem;
    color: #9999a6;
    font-style: italic;
    font-family: "Arial";
}

.personal-data__name{
    width: 50%;
}
.personal-data__phone-number{
    width: 50%;
} 
.personal-data{
    gap: 10px;
}

/* .personal-data{
    margin-bottom: 10px;
}
.for-texting{
    margin-bottom: 10px;
} */

.for-texting__a-lot-of-text{
    width: 100%;
    min-height: 105px;
}

.submit{
    padding: 15px 30px;
    border-radius: 35px;
    border: none;
    background-color: #fd8300;
    border: 1px solid rgba(0, 0, 0, 0);
    font-size: 14rem;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
}
.submit:hover{
    background-color: #fff;
    border: 1px solid;
    border-color: #fd8300;
    color: #fd8300;
}

.submit-checkbox{
    /* width: 65%; */
    gap: 20px;
    align-items: center;
}

.checkbox{
    display: flex;
    align-items: center;
    flex-grow: 0;
    gap: 15px;
}

#news-seneder-verif{
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #c5c5d4;
    background-color: #fff;
}

label{
    position: relative;
}

#news-seneder-verif:checked+label:before{
    content: "";
    position: absolute;
    width: 9px;
    height: 3px;
    left: -28.2px;
    top: 4px;
    border: 3px solid #1f1f56;
    border-top: none;
    border-right: none;
    border-radius: 1.2px;
    transform: rotate(-45deg);
}
