
header{
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    margin-bottom: 30px;
}

.header-menu__link-hovering-place-fore-transparent-menu{
    position: relative;
}
.menushka {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    /* width: 50%; */
}

.nav-menu,
.nav-menu-podmenu{
    list-style: none;
}

.menushka{
    list-style: none;
}

.menushka a{
    text-decoration: none;
    color: #b1b1d2;
    font-size: 14px;
}

.menushka a:hover {
    color: #fd8300;
}

.nav-menu{
    padding-top: 40px;
    top: 0;
    position: absolute; 
    display: none;
}

.nav-menu li{
    background-color: #e4e4ec;
    position: relative;
    padding: 10px;
    min-width: 125px;
}
.nav-menu a{
    text-decoration: none;
    border-bottom: none;
    font-size: 14px;
    color: #25252c;
}

.nav-menu li:hover>a{
    color: #fff;
}
.batk{
    position: relative;
}

.nav-menu .batk-text::after{
    content: "";
    width: 20px;
    height: 20px;
    right: 5px;
    top: 12px;
    background-image: url("../img/arrow-spysok.png");
    background-repeat: no-repeat;
    position: absolute;
}

.nav-menu .batk:hover>.batk-text::after{
    /*   right: 25px;
      top: 10px; */
      right: 17px;
      top: 15px;
      filter: brightness(100);
      transform: rotate(90deg) ;
  }
  

/* .nav-menu .batk:hover>.nav-menu .batk::after{
    rotate: 90deg;
    filter: brightness(100);
} */

.nav-menu-podmenu{
    display: none;
    position: relative;
    padding-left: 20px;
}

.menushka>li:hover>.nav-menu{
    display: block;
} 

.nav-menu-podmenu{
    display: none;
    left: 140px;
    top: 0;
    position: absolute;

}
.nav-menu li{
    color: #25252c;
    border-bottom: 1px solid #cecedd;
}
.nav-menu li:first-child{
    border-radius: 5px 5px 0px 0px;
}
.nav-menu li:last-child{
    border-radius: 0px 0px 5px 5px;
    border: 0;
}
.nav-menu li:hover{
    background-color: #fd8300;
    color: #fff;
}
.nav-menu li:hover>.nav-menu-podmenu{
    display: block;
}

.contacts__skype{
    text-decoration: none;
}

.contacts__skype:hover{
    color: #fd8300;
    text-decoration: none;
}

/* .header-menu-list{
    display: none; 
    position: absolute;
    width: 125px;
    list-style: none;
    background-color: #e4e4ec;
}

.header-menu-item{
    position: relative;
    margin-right: 25px; 
}

.header-menu-item:hover .header-menu-submenu{
    display: block;
}

.header-menu-submenu{
     display: none; 
    position: absolute;
    padding-left: 5px;
    width: 125px;
    left: 135px;
    top: 0;
    list-style: none;
    background-color: #e4e4ec;
}

.header-menu-submenu__item{
    padding-left: 25px;
}

.header-menu__link-hovering-place-fore-transparent-menu:hover>.header-menu-list{
    display: block;
} */

.main-info__headeing{
    margin-bottom: 20px;
    font-size: 24rem;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}

.main-info__text{
    line-height: 24rem;
    color: #666;
}

.main-info__text:nth-child(3){
    margin-bottom: 30px;
}

.main-info__text:nth-child(6){
    margin-bottom: 20px;
}

.main-info__more-info {
    padding: 5px 10px 5px 3px;
    color: #fd8300;
    font-weight: bold;
    background-image: linear-gradient(90deg,white 50%, #fd8300 50%);
    background-size: 200%;
    text-decoration: none;
    border-radius:0 15px 15px 0;
    transition: 0.3s ease-in-out;
}

.main-info__more-info:hover {
    background-position: -100% 0;
    color: #fff;
}

/* table{
    border-collapse: collapse;
}

thead{
    background-color: #1f1f56;
}

tbody{
 padding: 0 15px; 
    background-color: #e4e4ec;
}

.tbody-tr{
    padding: 20px 0;
}

.tbody-tr__cell{
    padding: 20px 0;
}
 */
 thead{
    
    background-color: #1f1f56;
}



.first-th{
    border: none;
    border-right: 0.75px solid #274569;
    border-radius: 3px 0px 0px 0px;
}

.kharakteristyks_of_buildings{
    border: none;
    border-bottom: 0.75px solid #274569; 
}

.plosha{
    border: none;
    border-right: 0.75px solid #274569; 
}

.kilkist{
    border: none;
    border-right: 0.75px solid #274569; 
}

.praice{
    border: none;
    border-left: 0.75px solid #274569;
}

tbody{
    background-color: #e4e4ec;
}

table,th,td{
    border-collapse: collapse;
}

table{
    width: 100%;
    margin-bottom: 20px;
}

table tbody tr:hover{
    background-color: #fd8300;
    cursor: pointer;
}

table tr:hover>td{
    color: #fff;
}

table td{
    font-size: 14px;
    color: #666666;
    border: 1px solid #cecedd;
}

th{
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    font-family: "Roboto Slab";
}

tr:first-child>th:first-child{
    padding: 25px 150px 25px 20px;
}

tr:first-child>th:last-child{
    padding: 0px 20px 0px 55px;
}

tr:first-child>th:nth-child(2){
    padding-top: 10px;
    padding-bottom: 10px;
}

tr:last-child>th{
    padding: 12px 40px;
    text-align: center;
}

tr td:first-child{
    border-left: none;
}

tr td:first-child,th:first-child{
    text-align: left;
    padding: 15px 0px 15px 20px;
}

tr td:nth-child(2){
    text-align: center;
}

tr td:nth-child(3){
    text-align: center;
}

tr td:nth-child(4){
    text-align: center;
}

tr td:nth-child(5){
    text-align: right;
    padding: 15px 20px 15px;
    border-right: none;
}
th:last-child{
    text-align: right;
}

.praice{
    border-radius: 0 3px 0 0;
}

/* .last-stroke{
    border-radius: 0 0 3px 3px;
} */

/* .last-right-cell{
     border-radius: 0 0 3px 0;
}
.last-left-cell{
   border-radius: 0 0 0 3px;
} */

.card {
    width: 22%;
}

.popular-projects{
    margin-bottom:50px;
}